<div>
    <!-- <button routerLink="/add">Add Employee</button> -->
    <button *ngIf="roleService.getRole() === 'HR Manager' || roleService.getRole() === 'Project Manager'" routerLink="/Lists/Employees/add">Add Employee</button>
    <button routerLink="/Lists/LeaveRequests">Leave Requests</button>
    <button routerLink="/Lists/LeaveRequests/add">Add Leave Request</button>
    <button *ngIf="roleService.getRole() === 'HR Manager' || roleService.getRole() === 'Project Manager'" routerLink="/Lists/ApprovalRequests">Approval Requests</button>
    <button *ngIf="roleService.getRole() === 'HR Manager' || roleService.getRole() === 'Project Manager'" routerLink="/Lists/ApprovalRequests/add">Add Approval Request</button>
    <button routerLink="/Lists/Projects">Projects</button>
    <button *ngIf="roleService.getRole() === 'HR Manager' || roleService.getRole() === 'Project Manager'" routerLink="/Lists/Projects/add">Add Project</button>
</div>
<div>
    <label for="filter">Filter:</label>
    <input id="filter" (input)="applyFilter($event)">
</div>
<div>
    <label for="searchById">Search by Request Number:</label>
    <input id="searchById" (input)="searchByRequestId($event)">
</div>
<div *ngIf="employees.length">
    <table>
        <thead>
            <tr>
                <th style="cursor: pointer;" (click)="onSort('ID')">ID</th>
                <th style="cursor: pointer;">Photo</th>
                <th style="cursor: pointer;" (click)="onSort('FullName')">Full Name</th>
                <th style="cursor: pointer;" (click)="onSort('Subdivision')">Subdivision</th>
                <th style="cursor: pointer;" (click)="onSort('Position')">Position</th>
                <th style="cursor: pointer;" (click)="onSort('Status')">Status</th>
                <th style="cursor: pointer;" (click)="onSort('PeoplePartner')">People Partner</th>
                <th style="cursor: pointer;" (click)="onSort('OutOfOfficeBalance')">Out-of-Office Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of filteredEmployees">
                <td>{{ employee.ID }}</td>
                <td><img *ngIf="employee.Photo" [src]="'data:image/jpeg;base64,' + employee.Photo" alt="Employee Photo" width="50"></td>
                <td>{{ employee.FullName }}</td>
                <td>{{ employee.Subdivision }}</td>
                <td>{{ employee.Position }}</td>
                <td>{{ employee.Status }}</td>
                <td>{{ employee.PeoplePartner }}</td>
                <td>{{ employee.OutOfOfficeBalance }}</td>
                <td *ngIf="roleService.getRole() === 'Project Manager' || roleService.getRole() === 'HR Manager'">
                    <button *ngIf="roleService.getRole() === 'HR Manager'" (click)="editEmployee(employee.ID)">Edit</button>
                    <button *ngIf="roleService.getRole() === 'HR Manager'" (click)="deleteEmployee(employee.ID)">Delete</button>
                    <button *ngIf="roleService.getRole() === 'Project Manager'" (click)="assignProject(employee.ID)">Assign Project</button>
                </td>
            </tr>
    </tbody>
    </table>
</div>
<div *ngIf="!employees.length">
    No employees found.
</div>
<router-outlet></router-outlet>